---
---
/* override bootstrap */
@import "bootstrap/bootstrap.min";
@import "bootstrap/bootstrap-overrides";

/* modules */
@import "modules/mixins";
@import "modules/elements";

/* config variables */
@import "config";

/* layout */
@import "layout";



/* pages */
@import "pages/index";
@import "pages/signup";


#howitworks {
  @include features-section;

  .header {
    border-top: 1px solid #E6E6E8;
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .onboarding-step {
    .step {
      padding-bottom: 10px;
    }
    p {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      // font-size: 12px;
    }
  }
  padding-bottom: 55px;
}

.numberCircle {
  border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    position: absolute;
    left: -36px;

    font: 32px;
}

.step {
  position: relative;
}
