<div id="footer-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 menu">
        <h3>Menu</h3>
        <ul>
              <!-- <li>
                  <a href="features.html">Features</a>
              </li>
              <li>
                <a href="services.html">Services</a>
              </li> -->
              <li>
                  <a href="#">Coming soon</a>
              </li>
        </ul>
      </div>
      <div class="col-sm-4 menu">
        <h3>Employees</h3>
        <ul>
          <li>
            <a href="https://getarbor.slack.com">Slack</a>
          </li>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        Arbor © 2015
      </div>
    </div>
  </div>
</div>
