<header class="navbar navbar-inverse hero">
  <div class="container">
    <!-- group branding and toggle for mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-targe="#arbor-navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">React</a>
    </div>
  </div>
</header>
